<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
>
    <testsuites>
        <testsuite name="SR25519 Test Suite">
            <directory>./test/Crypto/</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>